{% extends 'adminBase.html' %}
{% load static %}
{% block title %}
Admin:O'quvchilar ro'yxati
{% endblock %}

{% block main %}


<h2 class="text-center text-primary">O'quvchilar ro'yxati</h2>
<div class="container">

    <table class="table table-bordered border-primary">
        <thead>
        <th class="text-muted">№</th>
        <th class="text-muted">Ismi</th>
        <th class="text-muted">Familyasi</th>
        <th class="text-muted">O'chirish</th>
        </thead>
        <tbody>
        {%csrf_token%}
        {% for item in students %}
        <tr id="{{item.id}}">
            <td class="">{{ forloop.counter }}.</td>
            <td class=""><a href="{% url 'studentView' item.pk%}">{{item.username}}</a></td>
            <td class="">{{item.lastname}}</td>
            <td class="delete "><a href="{% url 'studentDelete' item.pk %}" class="delete text-danger"
            ><i class="fas fa-trash fa-1x m-1 "></i>Delete</a></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

 <div class="text-center">


        {% if students.has_other_pages %}
        <ul class="pagination">
            {% if students.has_previous %}
            <li class="div1 active"><a href="?page = {{students.previous_page_number}}"> &laquo;</a></li>
            {% else %}
            <li class="disabled active div1"><span>&laquo;</span></li>
            {% endif %}

            {% for p in students.paginator.page_range %}
            {% if students.number == p %}
            <li class="active div1">
                <span>{{p}}<span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="active div1">
                <a href="?page={{ p }}">{{p}}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if students.has_next %}
            <li class="div1 active"><a href="?page = {{students.next_page_number}}"> &raquo;</a></li>
            {% else %}
            <li class="disabled div1"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  col-xs-5 p-2">
            <a class="text-white" href="{% url 'studentCreate'%}">
                <button type="button" class="btn btn_delete bg-primary">O'quvchi +</button>
            </a>

        </div>

    </div>
</div>
<script>


</script>


{% endblock %}