
    .container{
    position:relative;
    width:100%;

    margin:20px auto;
    }
    table{
    padding;10px;
    width:100%;
    height:auto;
    }
    table thead th{
    margin-bottom:20px;
    text-align:left;
    padding:20px o;
    text-transform:capitalize;
    font-size:20px;
    }
    table tbody td{
    padding:10 px 20px;
    border:1px solid rgb(34,33,33);
    font-size:18px;
    text-align:left;

    }
    .btn_delete{
    padding:8 px 20px;
    font-size:18px;
    text-align:center;
    width:180px;
    display:block;
    background-color:brown;
    color:#fff;
    cursor:pointer;
    }
    .btn_delete:hover{
    background-color:rgb(83,4,4);
    }


