{% extends 'adminBase.html' %}
{% load static %}
{% block title %}
Admin:Ballarni tagrirlash
{% endblock %}

{% block main %}


<h2 class="text-center text-primary">{{student.lastname}}{{student}}ning Ballari</h2>
<div class="container">

    <table class="table table-bordered border-primary">
        <thead>
        <th class="text-muted">№</th>
        <th class="text-muted">Baholangan vaqti:</th>

        <th class="text-muted">Baho:</th>
        <th class="text-muted">Tahrirlash:</th>
        </thead>
        <tbody>
        {%csrf_token%}
        {% for item in rating %}
        <tr  id="{{item.id}}">
            <td class=" ">{{ forloop.counter }}.</td>
            <td class=" ">{{item.created_at}}  </td>

            <td class=" ">{{item.rating}}  </td>
            <td class=" "><a class="btn btn-sm btn-primary " href="{% url 'ratingStudentUpdate' item.pk %}">
               Tahrirlash </a> </td>
            <!--            <td class="p-2"><a href="{% url 'payStudentView' item.pk%}">Tulovlar</a></td>-->
<!--            <td class="p-2"><a class="btn btn-sm btn-primary " href="{% url 'payStudentCreate' item.pk %}">-->
<!--               Tulovni kiritish </a></td>-->
<!--            <td class="p-2"><input type="checkbox" name="teacher_id[]" value="{{item.id}}" id="delete_teacher"></td>-->
<!--        </tr>-->
        {% endfor %}

        </tbody>
    </table>

</div>
<script>


</script>


{% endblock %}