{% extends 'adminBase.html' %}
{% load static %}

{% block title %}
Admin:Guruhlar
{% endblock %}

{% block main %}


<h2 class="text-center text-primary">{{course}} guruhlar ro'yxati</h2>
<div class="container">

    <table class="table table-bordered border-primary">
        <thead>
        <th class="text-muted">№</th>
        <th class="text-muted">Guruh Nomi</th>

        <th class="text-muted">Kuni</th>
        <th class="text-muted">Vaqti</th>
        </thead>
        <tbody>
        {%csrf_token%}
        {% for item in groups %}
        <tr id="{{item.id}}">
            <td class="">{{ forloop.counter }}</td>
            <td class="">{{item.groupName}}</td>
            <td class="">{{item.day}}</td>
            <td class="">{{item.time}}</td>
            <!--            <td class="p-2"><input type="checkbox" name="teacher_id[]" value="{{item.id}}" id="delete_teacher"></td>-->
            <!--        </tr>-->
            {% endfor %}

        </tbody>
    </table>
    <!--    <div class="mt-2 mb-2">-->

    <!--        <button type="submit" id="delete_btn" class="btn btn_delete ">Delete</button>-->
    <!--    </div>-->
</div>
<script>


</script>


{% endblock %}