{% extends 'adminBase.html' %}
{% load static %}
{% block title %}
Admin:Dars jadvali
{% endblock %}

{% block main %}

<h2 class="text-center text-primary">Guruhlarning dars kunlari</h2>
<div class="container">


    <table class="table table-bordered border-primary">
        <thead>
        <th class="text-muted">Juft kunlar:</th>
        <th class="text-muted">Toq kunlar:</th>
        </thead>
        <tbody>
        {%csrf_token%}
        {% for item in day %}
        <td class=""><a href="{% url 'tableGroup' item.pk %}"> Guruhlarni ko'rish</a></td>
        {% endfor %}

        </tbody>
    </table>
<h2 class="text-center text-primary">Guruhlarning dars jadvallari</h2>

    <table class="table table-bordered border-primary">
        <thead>
        <th class="text-muted">№</th>
        <th class="text-muted">Guruh nomi:</th>
        <th class="text-muted">Kunlari:</th>
        <th class="text-muted">Vaqti:</th>
        <th class="text-muted">Bashlanga kuni:</th>
        </thead>
        <tbody>
        {%csrf_token%}
        {% for item in group %}
        <tr id="{{item.id}}">
            <td class=" ">{{ forloop.counter }}.</td>
            <td class=" ">{{item.groupName}}({{item.teacher}})</td>
            <td class="text-light  bg-success"> {{item.day}}</td>
            <td class="text-light  bg-success"> {{item.time}}</td>
            <td class=" text-light bg-success"> {{item.startTime}}</td>
            {% endfor %}

        </tbody>
    </table>

</div>
<script>


</script>


{% endblock %}