{% extends 'base.html' %}
{% load static %}
{% block title %}
Asosiy
{% endblock %}

{% block main %}
<header>

    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
      background-image: url('{% static 'img/rasm1.jpg' %}');
      height: 650px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
            <div class="d-flex  align-items-center h-100 mr-5">
                <div class="text-white ">
                    <h1 class="mb-3 ml-2 text-white"> Yoshlikda olingan ilm toshga o'yilgan naqish kabidir.</h1>
                    <h4 class="mb-3 text-white">Ilm olish butun umr davom etadigan sayohatdek gap. Sayohatingiz davomida
                        sizni hursand qiladigan ba’zan xafa
                        qiladigan ko’pincha asabiylashtiradigan holatlarga duch kelasiz.</h4>
                    <!--                    <a class="btn btn-outline-light btn-lg" href="#!" role="button"-->
                    <!--                    >Call to action</a-->
                    <!--                    >-->
                </div>
            </div>
        </div>

    </div>
    <!-- Background image -->
</header>

<div class="container mt-5 mb-5">
    <div class="forum-details-block mt-28">
        <h2 class="text-center">
            ILM
        </h2>
        <p>
            Agar inson o'z yo'lini ilm nuri bilan yoritmasa, u zulmat va jaholat ko'chasida qoladi. Inson qalbining nuri
            bilim va ma'rifatdan quvvat oladi. Insoniyatning qadr -qimmati bilim bilan shakllanadi. Hozircha hech kim
            ilmdan
            zarar ko'rmagan. Bilim olish - bu san'at. Dunyoda yovuzlik bo'lgani kabi, hammasi jaholat tufayli yuzaga
            kelgan.
            Eng katta halokat - bu nodonlik, insoniyatning oxiri esa - johillik. Ilm nuri bilan yaxshi o'qigan,
            xarakterini
            yaxshilagan ayol hamma joyda hurmatga sazovor. Ilm - ayol uchun bezak. Aqlini nodonlikdan qutqargan har bir
            ayol
            sharaf, qadr -qimmat, ayollik qadrini tushunadi. Bunday ayol hech qanday ishda adashmaydi. Nodon ayol esa
            bolani
            tarbiyalashda turli xatolarga yo'l qo'yadi.

        </p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="forum-details-block mt-28">
        <h2 class="text-center">
            Ilm nima?
        </h2>
        <p>
            Ilmga ta’rif berishdan oldin uni hosil qilish haqida fikr yuritsak. Odamzod ilmni o’rganish orqaligina hosil
            qiladi. O’rganish esa kishining tafakkuri narsa va hodisotlarga kuchi yetganicha aniqlik kiritishidir. Ilmni
            Odam bolasi yaratilgandan boshlab to’xtovsiz ravishda o’rganadi. Hatto o’lim ham insonni o’rganishdan
            to’xtatib qo’ya olmaydi. Jannat va do’zax hayotida ham o’rganish jarayoni to’xtovsiz va abadiy davom etadi.
            Ilmni qisqacha biz o’rgangan narsa yoki narsalarning majmuyi desak bo’laveradi. Oyoq kiyimni to’g’ri
            kiyishdan to quyoshning radiusini bilishgacha bo’lgan barcha narsa (undan uyog’i ham) ILMdir.
        </p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="forum-details-block mt-28">
        <h2 class="text-center">
            Biz o’rgangan ilm qanchalik to’g’ri?
        </h2>
        <p>


            Bizga yoshligimizda o’rgatilgan yoki o’zimiz ixlos qo’ygan ustozlarimiz aytgan juda ko’p narsalarni ishonch
            bilan to’g’ri va haq deb bilamiz. Aslida esa har doim ham bunday bo’lmasligi mumkin. Gapimni isboti o’laroq
            so’nggi 20 yilda tabiiy fanlar sohasida qo’lga kiritilgan yutuqlarni misol qilib keltirishim mumkin. Shu
            kunlargacha insoniyat bu sohalarda anchagina yanglish tushunchalar bilan yashab kelayotgani aniqlandi va
            hozirda ham fanda kamchiliklar yo’q emas. Shuningdek olimlar o’z tajribalari orqali ilmiy isbotlab bergan
            narsalarni qonuniyat tarzida qa’bul qilib biz o’zimizdagi ilmni boyitib boramiz.
        </p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="forum-details-block mt-28">
        <h2 class="text-center">
            Ilm zararmi?
        </h2>
        <p>


            Bu savolga bir vaqtning o’zida ha va yo’q deb javob bersa bo’laveradi. Zararning foydadan farqi, u
            odam(zot)ning moddiy va manaviy ehtiyojlarini sifatliroq qondirish uchun hizmat qilmaydi hamda mavjud
            muvozanatlarni buzib tashlaydi. Ushbu xulosadan kelib chiqib ayta olamiz-ki, zararli ilm — insonga moddiy va
            ma’naviy jihatdan nafsiz bo’lgan “ilm”dir. U eng kamida behuda vaqt sovurishdir.
        </p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="forum-details-block mt-28">
        <h2 class="text-center">
            Ilm nima uchun kerak?
        </h2>
        <p>

            Yuqorida aytganimdek oyoq kiyimni to’g’ri kiyish ilmdir. To’g’ri nafas olishni bilish, nimalarni
            yeb-ichishni bilish ham ilmdir. Odam ilmsiz mavjud bo’la olmaydi. Dunyo yuzini ko’rgan odam bolasi bor ekan
            u so’nggi nafasigacha unga hamroh bo’ladigan ehtiyojlar bilan yashaydi. O’sha ehtiyojlarni yaxshiroq va
            sifatliroq qondirish uchun esa unga bir qancha vositalar kerak bo’ladi, masalan: pul. Pul deb ataladigan
            narsaga ega bo’lish va uni sarflash uchun hisob-kitobni bilish, foyda-zararni aniqlay olish, aqidaga ko’ra
            halol-xaromni tanish talab qilinadi. Bularning barchasi albatta ILMdir.
        </p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="forum-details-block mt-28">
        <h2 class="text-center">
            Ilm olishning va uning afzalliklari.

        </h2>
        <p>

            Ilm olish butun umr davom etadigan sayohatdek gap. Sayohatingiz davomida sizni hursand qiladigan ba’zan xafa
            qiladigan ko’pincha asabiylashtiradigan holatlarga duch kelasiz. Bu safarda yo’qolib qolishingiz hech gap
            emas! Ammo ilmning afzalligi shularda ko’rinadi-ki, u ko’paygani sayin o’zingiz va atrofingizdagi olamni
            yaxshiroq taniy boshlaysiz. Ilmning afzalligi sizni hech narsangiz qolmaganida ham tark etmasligi,
            ishlatilgani sayin ko’payib borishi va albatta oldingizga qo’ygan maqsadlaringizga ertaroq yetishishingizga
            ko’maklashishidir.

        </p>
    </div>
</div>


{% endblock %}