{% load static %}
<div class="position-auto fixed-top position-fixed">

    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand mt-2 mt-lg-0" href="#"></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}">Asosiy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'advertising'%}">Kurslar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sms'%}">Kontakt</a>
                    </li>

                    {% if request.user.is_authenticated %}
                    {% if request.user.Group == admin %}
                    <span class="navbar-text mr-2"> <a class=" mr-2"
                                                       href="{% url 'adminUser' %}"> Boshqaruv bo'limi </a> </span>
                    {% else%}
                    <span class="navbar-text mr-2"> <a class=" mr-2" href="{% url 'teacher' %}"> Boshqaruv bo'limi </a> </span>
                    {%endif%}
                    {%endif%}

                </ul>
            </div>

            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-5">
                    {% if request.user.is_authenticated %}
                    <span class="navbar-text mr-2"> <a class=" mr-2" href="{% url 'logoutPage' %}"> Logout, ({{request.user.username}}) </a> </span>
                    {% else%}
                    <span class="navbar-text "> <a href="{% url 'login'%}">Kirish</a> </span>
                    {%endif%}
                </ul>

            </div>
        </div>
    </nav>
</div>